header{
     background-color: #89a2c2 ;
    text-transform: uppercase;
    background-image: url("../images/flywheel.jpg");
    padding: 100px;
    text-align: center;
    
    

}
h1{
    text-align: center;
    color: #41ebe2;
}
h2{
    color: #4c5c91;
}
aside{
    background-color: #41ebe2;
    display:inline-block;
    width:25%;
    
}
aside img {
    max-width:50%;
    height:auto;
    display: block;
    margin: 0 auto;
    display:block;
    border: 1px solid #000000;
    margin-top: 20px;
    
    
    
}

section{
    display: inline-block;
    width: 75%;
    height: auto;
    float: right;
}
nav a{
    color: #352870;

    display: inline-block;
    width: 150px;
    height: 30px;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color:rgba(201, 206, 192, 0.3);
    
     
}   
.active{
    background-color: #ffffff;
    
}



    
}
body{
    margin: 1px;
    padding: 1px;
    
}
